*,
::after,
::before {
    box-sizing: border-box !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #1f2278;
    --orange-color: #f17732;
    --btn-color: #565acf;
}

html {
    scroll-behavior: smooth;
}
body {
    font-family:Arial, Helvetica, sans-serif;
}